.container {
    width: 80%;
    max-width: 830px;
    margin: 40px auto;
}

.box_content {
    padding: 16px;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.table_container {
    height: auto;
    max-height: 400px;
    overflow: auto;
    border-radius: 4px;
}

.head_txt {
    font-weight: 600;
}

.column_body {
    cursor: pointer;
}

.not_found_txt {
    margin: 10px auto;
    text-align: center;
}
