.container {
    height: 100%;
    padding: 10px 22px;
    border-radius: 0 !important;
}

.box_header {
    display: flex;
    align-items: center;
}

.nav {
    padding: 0 !important;
}

.btn_nav {
    text-align: center !important;
}
