.btn_img {
    width: 50px !important;
    min-width: 0 !important;
    border-radius: 50% !important;
}

.img {
    border-radius: 50%;
}

.img_profile {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btn_edit {
    padding: 10px !important;
}
